@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Czynsz</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nr Mieszkania</th>
            <th scope="col">Imię i Nazwisko</th>
            <th scope="col">Kwota</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>13</td>
            <td>Jakub Miziak</td>
            <td>1150zł</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>15</td>
            <td>Aleksander Kołyska</td>
            <td>1800zł</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>10</td>
            <td>Maciej Dobrowolski</td>
            <td>800zł</td>
        </tr>
    </tbody>
</table>